@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap');

*{
    box-sizing: 0;
}
body {
    font-family: "Montserrat";
}

.container-fluid{
    width: 100%;
}

img{
    width: 100%;
    height: auto;
    /*Esto es para que todas las imágenes sean tan anchas su bloque y la altura sea automática y se adapte*/
}

a{
    color: inherit;
    text-decoration: none;
}

.row{
    max-width: 1100px;
    margin: 0 auto;
}

.row:after{
    content:"";
    display: block;
    height:0;
    clear: both;
}

 /*CABECERA-HEADER_________________________________________________________________________________*/
header .submenu{
    background-color: #21242E;
    color: white;
    padding: 20px 0;
}

header .submenu i{
    color: #fa573a;
    margin-right: 10px;
}

header .submenu a:hover{
    color: #fa573a;
}

header .submenu .row div{
    float: left;
    width: 25%;
}

header .submenu .row div:nth-child(3),header .submenu .row div:nth-child(4){
    text-align: right;
}

/*HEADER NAV*/
header nav{
    background-color: white;
    padding: 20px 0;
}

header nav .logo{
    width: 100px;
    height: auto;
    float: left;
}

header nav .menu{
    float: right;
    padding-top: 9px;
}

header nav .menu li{
    display: inline-block;
    margin-left: 15px;
}

header nav li a{
    color: #666;
}

header nav li a:hover{
    color: #fa573a;
}

header nav li .activo{  /* esto es para hacer que se quede marcado el botón de la sección en la que estamos*/
    color: #666;
}

header .hamburguesa {
    display: none;
    float: right;
    cursor: pointer; /*esto es para que salga la mano de hacer click cuando pasamos por encima*/
}

header .hamburguesa .linea{
    border-top: 2px solid #aaa;
    width: 30px;
    margin-bottom: 10px;
}

/*FIN DE HEADER_______________________________________________________________________________________*/

/*HERO________________________________________________________________________________________________*/
.hero{
    background-image: url("../images/fondo.jpg");
    height: 550px; /*es mejor que el heroe se quede corto y que se vean más cosas para que el usuario sepa que continua el scroll*/
    background-size: cover; /*esto es para que no repita la imagen a la derecha y se adapte a su ancho, no vuelva a empezar*/
    background-position: center center; /*esto es para que al hacerla responsive, que la imagen se ajuste en el eje de coordenadas para que se vaya centrando y no perder la hamburguesa de vista. El primer dato alude al eje Y y el segundo al Y*/
    background-color: #444;
    background-blend-mode: soft-light;
}

.hero>div{
    padding: 15% 10%;
    color: white;
}

.hero>div h1 {
    font-size: 2em;
    font-family: "handlee", cursive;
}

.hero>div h2{
    color: #fa573a;
    font-size: 1.25em;
    padding: .8em 0; /*también se podría poner un margin: 20px 0; en este caso daría igual*/
}

.hero .boton{
    background-color: #fa573a;
    display: inline-block;
    padding: .9em; /*podríamos dar una medida exacta al botón con height y width, pero es menos eficiente*/
    margin: .8em 0;
    border: 2px solid #fa573a; /*podemos el borde aquí para que no cambie el tamaño al hacer hover*/
}

.hero .boton:hover{
    background-color: transparent;
    color: #fa573a;
}

.hero .social{
    display: flex;
}

.hero .social li{
    margin-right: 15px;
    font-size: 1.5em;
}

/*MEDIA QUERYS________________________________________________________________________________________________*/

@media (max-width: 768px){
        header .submenu .row div a span {
        font-size: .7em;
    }
        header .submenu .row div:nth-child(3),header .submenu .row div:nth-child(4), header .submenu .row div:nth-child(1), header .submenu .row div:nth-child(2){
        text-align: center;
    }
}

@media (max-width: 600px){
        header .submenu .row div a span {
            display: none;
        }

        header i {
            font-size: 2em;
            margin-right:0;
        }

        header nav{
            padding-left: 10px;
            padding-right: 10px;
        }

        header .hamburguesa{
            display: block;
            float: right;
        }

        header nav .menu{
            float: none;
            padding-top: 60px;
        }

        header nav .menu li{
            display: block;
            text-align: center;
            padding: 20px;
            border-bottom: 1px solid #aaa;
        }

        header nav .menu li:last-child {
            border-bottom: 0;
        }

        .hero{
            height: 350px;
        }
}